

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.footer-main{
    background-color: #4f2b1d;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height by margin bottom of body*/
    height: 60px;
}

.navbar-center{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;
    padding-bottom: 20px;
}
.box {
   border:#666666 solid 1px;
}

input[type="submit"] {
  background: #FFB500;
  border: none;
  color: white;
}
#div1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.right-side-padding{
  padding-right: 16px;
}

.profile-icon{
  width: 150px;
  height: 150px;
  background: #ffb908;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;/* same as div heigh*/ 
  font-size: 100px;
}

.username{
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
}

.main-menu{
  background: #ff9500;
  padding-top:30px;
}

.table-left-side-padding{
  padding-left: 72px;
}
