

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.footer-main{
    background-color: #4f2b1d;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height by margin bottom of body*/
    height: 60px;
}

.navbar-center{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;
}
.box {
   border:#666666 solid 1px;
}

input[type="submit"] {
  background: #FFB500;
  border: none;
  color: white;
}
